<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div>
    <form action="http://localhost:8081/login" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="登录"></td>
                <td><input type="button" value="注册" onclick="register()"></td>
            </tr>
        </table>
    </form>
</div>

</body>
<script>
    function register() {
        location.href=("http://localhost:8081/register/login");//在本页面内跳转
        // location.href=("/registerLogin.html");//没能跳转，不知道怎么改
    }
</script>
</html>